{% extends 'layout.html' %}

{% block content %}
    <div style="padding: 10px;">
        <a href="{% url 'rbac:role_add' %}" class="btn btn-success">添加</a>
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>个数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for row in role_queryset %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.permissions.count }}</td>
                        <td>
                            <a href="{% url 'rbac:role_edit' rid=row.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                            <span style="padding: 0 5px;display:inline-block">|</span>
                            <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor  %}
            </tbody>
        </table>
    </div>
{% endblock %}